@font-face {
    font-family: 'Newbaskerville';
    src: url('../fonts/BaskervilleBT.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/LibreBaskerville-Bold.ttf');
    font-weight: 600;
    font-style: normal;
}
.blockone{
    background-image: url(../image/mobile/1/1.png);
    width: 100%;
    height: 812px;
    background-size: cover;
    background-repeat: round;
    background-position: initial;
    font-family: 'Newbaskerville';
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
        &__toggle-menu {
            width: 70px;
            height: 40px;
            display: inline-block;
            position: relative;
            margin-top: -14px;
            transition: all 2s linear;
            transition: transform .3s linear;
            margin-right: 10px;
            margin-top: 0px;
            &:hover{
                i:nth-child(1) {
                    transform: translateY(-3px);
                }
                i:nth-child(2) {
                    transform: translateY(3px);
                }
            }
            i{
                position: absolute;
                display: block;
                height: 2px;
                background: white;
                width: 50px;
                left: 10px;
                -webkit-transition: all .3s;
                        transition: all .3s;
                &:nth-child(1){
                    top: 14px;
                }
                &:nth-child(2){
                    top: 26px;
                }
            }
        }
    }
    .kvartirs-click{
        border: 3px solid #FFDB94 !important;
        color: #FFDB94 !important;
        // position: absolute;
        // top: 0;
        // left: 0;
        // z-index: 1;
        font-family: 'Newbaskerville';
        font-weight: bold;
        font-size: 18px;
        line-height: 40px;
        width: 180px;
        height: 46px;
        text-align: center;
        &:hover{
            text-decoration: none;
        }
    }
    .main{
        color: #FFFFFF;
        img{
            margin-top: 146px;
            margin-bottom: 20px;
        }
        h1{
            font-size: 40px;
            line-height: 47px;
        }
        p{
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
        }
        a{
            background: transparent;
            border: 2px solid #FFDB94;
            width: 280px;
            height: 60px;
            border-radius: 0;
            padding: 12px;
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
            color: #ffffff;
            position: relative;
            margin: 30px auto;
            display: block;
            line-height: 30px;
            text-decoration: none;
            font-family: 'Newbaskerville';
            &:focus{
                box-shadow: none;
            }
            &:before{
                content: '';
                width: 25px;
                height: 2px;
                background: #FFDB94;
                position: absolute;
                top: 27px;
                left: -13px;
            }
            &:after{
                content: '';
                width: 25px;
                height: 2px;
                background: #FFDB94;
                position: absolute;
                top: 27px;
                right: -13px;
            }
        }
    }
}
.blocktwo{
    background-image: url(../image/mobile/2/1.png);
    width: 100%;
    height: 812px;
    background-size: cover;
    background-repeat: round;
    background-position: initial;
    font-family: 'Newbaskerville';
    color: #ffffff;
    position: relative;
    padding: 0 1rem;
    h1{
        padding-top: 146px;
        font-weight: 600;
        font-size: 36px;
        line-height: 41px;
        padding-bottom: 60px;
    }
    p{
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
    }
    a{
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        color: #ffffff;
        text-decoration: none;
        position: absolute;
        left: 50%;
        bottom: 80px;
        transform: translateX(-50%);
        &:after{
            content: '';
            position: absolute;
            left: 50%;
            bottom: -10px;
            transform: translateX(-50%);
            background: #fff;
            height: 1px;
            width: 100px;
        }
    }
    img{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
    
}
.blockthree{
    font-family: 'Newbaskerville';
    .swiper-slide{
        height: 812px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            color: #ffffff;
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
        }
        h1{
            font-weight: 600;
            font-size: 36px;
            position: absolute;
            top: 86px;
            left: 50%;
            transform: translateX(-50%);
            color: #ffffff;
        }
    }
}
.blockfour{
    background-image: url(../image/mobile/4/1.png);
    width: 100%;
    height: 812px;
    background-size: cover;
    background-repeat: round;
    background-position: initial;
    font-family: 'Newbaskerville';
    color: #ffffff;
    h1{
        padding-top: 86px;
        padding-bottom: 12px;
        font-weight: 600;
        font-size: 36px;
        line-height: 41px;
    }
    h6{
        padding-bottom: 25px;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
    }
    img{
        width: 100%;
        margin-bottom: 25px;
    }
    p{
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        margin: 0 1rem;
    }
}
.blockfive{
    background-image: url(../image/mobile/4/1.png);
    width: 100%;
    // height: 812px;
    background-size: cover;
    background-repeat: round;
    background-position: initial;
    font-family: 'Newbaskerville';
    color: #ffffff;
    padding-bottom: 2rem;
    h1{
        padding-top: 86px;
        padding-bottom: 12px;
        font-weight: 600;
        font-size: 36px;
        line-height: 41px;
    }
    h6{
        padding-bottom: 25px;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
    }
    img{
        width: 100%;
        margin-bottom: 25px;
    }
    p{
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        margin: 0 1rem 1rem;
        text-align: left;
    }
    a{
        background: transparent;
        border: 2px solid #FFDB94;
        width: 280px;
        height: 60px;
        border-radius: 0;
        padding: 12px;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
        position: relative;
        margin: 2rem auto 0;
        display: block;
        line-height: 30px;
        text-decoration: none;
        font-family: 'Newbaskerville';
        &:focus{
            box-shadow: none;
        }
        &:before{
            content: '';
            width: 25px;
            height: 2px;
            background: #FFDB94;
            position: absolute;
            top: 27px;
            left: -13px;
        }
        &:after{
            content: '';
            width: 25px;
            height: 2px;
            background: #FFDB94;
            position: absolute;
            top: 27px;
            right: -13px;
        }
    }
}
.blocksix{
    background-image: url(../image/mobile/6/1.png);
    width: 100%;
    // height: 812px;
    background-size: cover;
    background-repeat: round;
    background-position: initial;
    font-family: 'Newbaskerville';
    color: #ffffff;
    padding: 0 1rem 2rem;
    h1{
        padding-top: 86px;
        padding-bottom: 12px;
        font-weight: 600;
        font-size: 36px;
        line-height: 41px;
    }
    h6{
        padding-bottom: 25px;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
    }
    p{
        padding-bottom: 20px;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
    }
    img{
        padding-bottom: 25px;
    }
    .interview{
        position: relative;
        z-index: 3;
        p{
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            a{
                color: #ffffff;
                &:hover{
                    color: #FFDB94;
                }
            }
        }
    }
}
.blockseven{
    background-image: url(../image/mobile/4/1.png);
    width: 100%;
    height: 812px;
    background-size: cover;
    background-repeat: round;
    background-position: initial;
    font-family: 'Newbaskerville';
    color: #ffffff;
    padding: 0 1rem 2rem;
    position: relative;
    h1{
        padding-top: 86px;
        padding-bottom: 40px;
        font-weight: 600;
        font-size: 36px;
        line-height: 41px;
    }
    img{
        &:nth-of-type(1){
            transform: translate(20px, 0px);
        }
        &:nth-of-type(2){
            transform: translate(-10px, 75px);
        }
    }
    h6{
        margin-top: 7rem;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 1rem;
        text-align: left;
    }
    p{
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
    }
}
.blockeight{
    position: relative;
    .nav{
        position: absolute;
        bottom: 1rem;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        .nav-link{
            background: rgba(20, 20, 20, 0.3);
            border: 2px solid #FFFFFF;
            border-radius: 20px;
            // padding: 8px 40px;
            width: 120px;
            height: 50px;
            color: #fff;
            font-family: 'Newbaskerville';
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover{
                background: #D6B173;
                border-color: #D6B173;
            }
        }
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        background: #D6B173;
        border-color: #D6B173;
    }
    h1{
        font-family: 'Newbaskerville';
        font-weight: 600;
        font-size: 36px;
        line-height: 41px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 40px;
        z-index: 1;
        text-shadow: 1px 1px #000000;
        color: #ffffff;
    }
}
.blocknine{
    background: rgba(214, 177, 115, 0.8);
    width: 100%;
    height: 812px;
    text-align: center;
    padding: 0 2rem;
    color: #ffffff;
    font-family: 'Newbaskerville';
    position: relative;
    h1{
        padding-top: 86px;
        padding-bottom: 12px;
        font-weight: 600;
        font-size: 36px;
        line-height: 41px;
    }
    h6{
        margin-bottom: 26px;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
    }
    p{
        margin-bottom: 35px;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
    }
    .mountain{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        .one{
            width: 100%;
            position: relative;
            z-index: 1;
        }
        .two{
            position: absolute;
            bottom: 11.5rem;
            left: 0;
            z-index: 1;
        }
        // .three{
        //     position: absolute;
        //     bottom: 5rem;
        //     left: 0;
        //     z-index: 1;
        // }
        // .four{
        //     position: absolute;
        //     right: 0;
        //     bottom: 5rem;
        //     z-index: 1;
        // }
        // .five{
        //     position: absolute;
        //     top: 30%;
        //     right: 0;
        //     transform: translateY(-50%);
        // }
        .six{
            position: absolute;
            top: 20%;
            left: 45%;
            transform: translate3d(-50%, -50%, 0);
            p{
                font-weight: 600;
                font-size: 20px;
                line-height: 23px;
                text-align: left;
            }
            .pic{
                transform: translate3d(6rem, 2.5rem, 0);
            }
        }
    }
}
.blockten{
    background-image: url(../image/mobile/4/1.png);
    width: 100%;
    height: 812px;
    background-size: cover;
    background-repeat: round;
    background-position: initial;
    font-family: 'Newbaskerville';
    color: #ffffff;
    padding: 0 1.5rem;
    h1{
        padding-top: 86px;
        padding-bottom: 12px;
        font-weight: 600;
        font-size: 36px;
        line-height: 41px;
    }
    h6{
        // margin-bottom: 26px;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
    }
    p{
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        text-align: left;
        margin-top: 2rem;
    }
}
.blockeleven{
    background: rgba(214, 177, 115, 0.8);
    width: 100%;
    height: 812px;
    text-align: center;
    padding: 0 1.5rem;
    color: #ffffff;
    font-family: 'Newbaskerville';
    position: relative;
    h1{
        padding-top: 86px;
        padding-bottom: 12px;
        font-weight: 600;
        font-size: 36px;
        line-height: 41px;
    }
    h6{
        margin-bottom: 26px;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
    }
    p{
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 30px;
    }
    .one{
        position: absolute;
        left: 0;
        bottom: 7rem;
        @media (max-width: 320px){
            width: 70%;
        }
    }
    .two{
        position: absolute;
        left: 6.5rem;
        bottom: 11.5rem;
        @media (max-width: 375px){
            left: 5rem;
        }
        @media (max-width: 320px){
            width: 55%;
        }
    }
    .three{
        position: absolute;
        bottom: 35px;
        right: 15px;
        @media (max-width: 320px){
            width: 15%;
        }
    }
    .four{
        position: absolute;
        bottom: 8rem;
        left: 0;
    }
    >div{
        position: absolute;
        bottom: 2rem;
        left: 2.5rem;
        text-align: left;
        h2{
            font-weight: 600;
            font-size: 60px;
            line-height: 69px;
        }
        p{
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
        }
    }
}
.blocktwelve{
    background: #262626;
    width: 100%;
    // height: 812px;
    text-align: center;
    padding: 0 1.5rem 2rem;
    color: #ffffff;
    font-family: 'Newbaskerville';
    h1{
        padding-top: 86px;
        padding-bottom: 40px;
        font-weight: 600;
        font-size: 36px;
        line-height: 41px;
    }
    h6{
        margin-bottom: 60px;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
    }
    .term{
        padding: 24px 36px;
        background: rgba(18, 18, 18, 0.31);
        h1{
            font-weight: 600;
            font-size: 22px;
            line-height: 25px;
            margin-top: 0;
            margin-bottom: 40px;
            padding: 0;
        }
        p{
            margin-bottom: 40px;
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
        }
        div{
            &:nth-of-type(1){
                padding-bottom: 40px;
                border-bottom: 1px solid rgba(255, 219, 148, .2);
            }
            &:nth-of-type(2){
                padding-top: 40px;
            }
        }
        button{
            background: transparent;
            border: 2px solid #FFDB94;
            width: 260px;
            height: 60px;
            border-radius: 0;
            padding: 12px;
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
            color: #ffffff;
            position: relative;
            margin: 2rem auto 0;
            display: block;
            line-height: 30px;
            text-decoration: none;
            font-family: 'Newbaskerville';
            &:focus{
                box-shadow: none;
            }
            &:before{
                content: '';
                width: 25px;
                height: 2px;
                background: #FFDB94;
                position: absolute;
                top: 27px;
                left: -13px;
            }
            &:after{
                content: '';
                width: 25px;
                height: 2px;
                background: #FFDB94;
                position: absolute;
                top: 27px;
                right: -13px;
            }
        }
    }
}
.blockthirteen{
    width: 100%;
    // height: 812px;
    font-family: 'Newbaskerville';
    position: relative;
    background: #262626;
    padding-bottom: 30px;
    h1{
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 41px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 85px;
        margin-bottom: 45px;
    }
    .nav-pills .nav-link{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
        margin-right: 0;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            top: 18px;
            right: -4px;
            width: 6px;
            height: 2px;
            background: #D6B173;
        }
    }
    .last{
        &:after{
            content: none !important;
        }
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        color: #FFDB94;
        background-color: transparent;
    }
    .contact-block{
        background: rgba(18, 18, 18, 0.31);
        padding: 25px 40px;
        margin: 70px 1rem 0 1rem;
        text-align: center;
        h3{
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 25px;
            color: #FFFFFF;
            margin-bottom: 30px;
        }
        h6{
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            color: #D6B173;
            margin-bottom: 20px;
        }
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;
            margin-bottom: 12px;
        }
        a{
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 30px;
            color: #FFFFFF;
            margin-bottom: 13px;
            display: block;
        }
        h5{
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 30px;
            color: #FFFFFF;
        }
        button{
            background: #D6B173;
            border-radius: 5px;
            padding: 1rem;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;
            margin-top: 50px;
            margin-bottom: 30px;
        }
        hr{
            border-color:#FFDB94;
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }
}
.call-back{
    background-image: url(../image/bg/menu.png) !important;
    background: transparent;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: round;
    background-position: center;
    > div{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .call-block{
        width: 375px;
        height: 435px;
        background: transparent;
        font-family: 'Newbaskerville';
        border: 1px solid #D6B173;
        &__form{   
            padding: 3rem 1.5rem;
            color: #fff;
            text-align: center;
            h2{
                font-weight: bold;
                font-size: 26px;
                line-height: 30px;
                letter-spacing: 0.1em;
                margin-bottom: 50px;
            }
            input{
                background: transparent;
                border-color: transparent;
                border-bottom: 1px solid #fff;
                border-radius: 0;
                color: #ffffff;
                padding-left: 0;
                &:focus{
                    box-shadow: none;
                }
            }
            .form-group{
                margin-bottom: 50px;
                text-align: left;
                label{
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 18px;
                    margin-bottom: 0;
                }
            }
            button{
                background: transparent;
                border: 2px solid #FFDB94;
                width: 260px;
                height: 60px;
                border-radius: 0;
                padding: 12px;
                font-weight: bold;
                font-size: 16px;
                line-height: 18px;
                color: #ffffff;
                position: relative;
                &:focus{
                    box-shadow: none;
                }
                &:before{
                    content: '';
                    width: 25px;
                    height: 2px;
                    background: #FFDB94;
                    position: absolute;
                    top: 28px;
                    left: -13px;
                }
                &:after{
                    content: '';
                    width: 25px;
                    height: 2px;
                    background: #FFDB94;
                    position: absolute;
                    top: 28px;
                    right: -13px;
                }
            }
        }
    }
}
.modal-window {
    position: fixed;
    background-color: #262626;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    font-family: 'Newbaskerville';
    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    h1{
        font-size: 48px;
        line-height: 55px;
        margin-top: 40px;
        margin-bottom: 35px;
    }
} 
.modal-close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    padding: 0 !important;
}
.modal-logo{
    position: absolute;
    right: 20px;
    bottom: 25px;
    z-index: 2;
    width: 80px;
    height: 20px;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.swiper-button-next,.swiper-button-prev{
    width: initial !important; 
    height: initial !important;
    border: none !important;
    background: transparent !important;
    top: 51.5% !important;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(214, 177, 115, 1), rgba(214, 177, 115, 1));
    overflow-y: hidden;
    transition: 0.5s;
    .modal-close2{
        top: 35px;
    }
}
.overlay-content {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 
.overlay > .overlay-content {
    a{ 
        width: 100%;
        padding: 1.8rem 0;
        position: relative;
        text-decoration: none;   
        p{
            color: #ffffff;
            font-weight: 600;
            font-size: 16px;
            font-family: 'Newbaskerville';
            position: relative;
            z-index: 1;
            transition: 1s ease;
        }
        div{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 1s ease;
        }  
        &:nth-of-type(1){
            div{
                background-image: url(../image/bg/menu/1.png);
            }
            &:hover{
                div{
                    opacity: 1;
                }
                p{
                    color: #D6B173;;
                }
            }
        }
        &:nth-of-type(2){
            div{
                background-image: url(../image/bg/menu/2.png);
            }
            &:hover{
                div{
                    opacity: 1;
                }
                p{
                    color: #D6B173;;
                }
            }
        }
        &:nth-of-type(3){
            div{
                background-image: url(../image/bg/menu/3.png);
            }
            &:hover{
                div{
                    opacity: 1;
                }
                p{
                    color: #D6B173;;
                }
            }
        }
        &:nth-of-type(4){
            div{
                background-image: url(../image/bg/menu/4.png);
            }
            &:hover{
                div{
                    opacity: 1;
                }
                p{
                    color: #D6B173;;
                }
            }
        }
        &:nth-of-type(5){
            div{
                background-image: url(../image/bg/menu/5.png);
            }
            &:hover{
                div{
                    opacity: 1;
                }
                p{
                    color: #D6B173;;
                }
            }
        }
        &:nth-of-type(6){
            div{
                background-image: url(../image/bg/menu/6.png);
            }
            &:hover{
                div{
                    opacity: 1;
                }
                p{
                    color: #D6B173;;
                }
            }
        }
        &:nth-of-type(7){
            div{
                background-image: url(../image/bg/menu/7.png);
            }
            &:hover{
                div{
                    opacity: 1;
                }
                p{
                    color: #D6B173;;
                }
            }
        }
    }
}
.interview-block{
    background: #3D3F3C !important;
    font-family: 'Newbaskerville';
    overflow-y: scroll;
    h1{
        font-weight: 600;
        font-size: 36px;
        line-height: 41px;
        margin-top: 86px;
        margin-bottom: 40px;
    }
    h6{
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #FFDB94;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    p{
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
    }
    .container{
        img{
            width: 280px;
            height: 360px;
            object-fit: cover;
        }
    }
}
.architectura{
    .swiper-slide{
        // height: 812px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
        a{
            color: #ffffff;
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
        }
    }
    h1{
        font-weight: 600;
        font-size: 36px;
        line-height: 41px;
        top: 86px;
        position: absolute;
        z-index: 2;
        margin: 0;
        color: #ffffff;
        left: 50%;
        transform: translateX(-50%);
    }
    .back{
        width: 180px;
        height: 50px;
        background: rgba(20, 20, 20, 0.3);
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 20px;
        font-weight: 600;
        font-size: 18px;
        line-height: 45px;
        color: #fff !important;
        position: absolute;
        left: 20px;
        bottom: 20px;
        text-align: center;
        text-decoration: none !important;
        z-index: 2;
    }
}
.modalThreeLayout{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #fff;
    // transition: all 0.35s ease-out;
    opacity: 0;
    z-index: 0;
    font-family: 'Newbaskerville';
    p{
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
        z-index: 2;
    }
}
.fouryouModal{
    background-image: url(../image/mobile/architectura/01.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Newbaskerville';
    color: #ffffff;
    // position: relative;
}
.gagarinModal{
    background-image: url(../image/mobile/architectura/02.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Newbaskerville';
    color: #ffffff;
    // position: relative;
}
.centralModal{
    background-image: url(../image/mobile/architectura/03.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Newbaskerville';
    color: #ffffff;
    // position: relative;
}
.closeModal{
    position: absolute;
    top: 28px;
    right: 20px;
    z-index: 2;
}
.technology, .comfort{
    background-image: url(../image/mobile/technology/01.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Newbaskerville';
    color: #ffffff;
}
.inf{
    h1{
        font-weight: 600;
        font-size: 36px;
        line-height: 41px;
        top: 86px;
        position: absolute;
        z-index: 2;
        margin: 0;
        color: #ffffff;
        left: 50%;
        transform: translateX(-50%);
    }
    .swiper-slide{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
        a{
            color: #ffffff;
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
        }
    }
    .back{
        width: 180px;
        height: 50px;
        background: rgba(20, 20, 20, 0.3);
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 20px;
        font-weight: 600;
        font-size: 18px;
        line-height: 45px;
        color: #fff !important;
        position: absolute;
        left: 20px;
        bottom: 20px;
        text-align: center;
        text-decoration: none !important;
        z-index: 2;
    }
}
.techOneModal{
    background-image: url(../image/mobile/technology/1/1.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Newbaskerville';
    color: #ffffff;
    .back-tech{
        position: absolute;
        background: rgba(20, 20, 20, 0.2);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.techTwoModal{
    background-image: url(../image/mobile/technology/2/1.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Newbaskerville';
    color: #ffffff;
    .back-tech{
        position: absolute;
        background: rgba(20, 20, 20, 0.2);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.techThreeModal{
    background-image: url(../image/mobile/technology/3/1.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Newbaskerville';
    color: #ffffff;
    .back-tech{
        position: absolute;
        background: rgba(20, 20, 20, 0.2);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.techFourModal{
    background-image: url(../image/mobile/technology/4/1.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Newbaskerville';
    color: #ffffff;
}
.comTwoModal,.comThreeModal{
    p{
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
        color: #ffffff;
        text-align: left;
        z-index: 2;
    }
    .back-tech{
        position: absolute;
        background: rgba(20, 20, 20, 0.2);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.comfort{
    background-image: url(../image/mobile/comfort/01.png);
}
.comOneModal{
    background-image: url(../image/mobile/comfort/1/1.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Newbaskerville';
    color: #ffffff;
    .back-tech{
        position: absolute;
        background: rgba(20, 20, 20, 0.2);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.item{
    display: none;
}
.item2{
    display: none;
}
.item3{
    display: none;
}
.item4{
    display: none;
}
.dvor,.vxod,.fontan,.estest{
    background-image: url(../image/mobile/comfort/3/3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 812px;
    position: relative;
    font-family: 'CustomFont';
    .backk{
        position: absolute;
        background: rgba(20, 20, 20, 0.2);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    h1{
        font-weight: 600;
        font-size: 36px;
        position: absolute;
        top: 86px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        color: #ffffff;
        z-index: 1;
        text-align: center;
    }
    p{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        position: absolute;
        bottom: 45px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 1;
        width: 90%;
    }
}
.vxod{
    background-image: url(../image/mobile/comfort/2/2.png) !important;
}
.fontan{
    background-image: url(../image/mobile/comfort/3/2.png) !important;
}
.estest{
    background-image: url(../image/mobile/technology/3/1.png) !important;
}