#ball {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    /*background: #b9f;*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#777777',GradientType=0 );
    /*box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4),*/
    /*inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;*/
    position: relative;
    top: 50%;
    z-index: 11;
    animation: jump 6s infinite;
    cursor: pointer;
}
#ball::after {
    content: "";
    width: 80px;
    height: 40px;
    position: absolute;
    left: 30px;
    top: 10px;
    z-index: 10;
    background: -o-linear-gradient(
            top,
            rgba(232, 232, 232, 1) 0%,
            rgba(232, 232, 232, 1) 1%,
            rgba(255, 255, 255, 0) 100%
    );
    /*background: -webkit-gradient(*/
    /*        linear,*/
    /*        left top,*/
    /*        left bottom,*/
    /*        !*from(rgba(232, 232, 232, 1)),*!*/
    /*        !*color-stop(1%, rgba(232, 232, 232, 1)),*!*/
    /*        !*to(rgba(255, 255, 255, 0))*!*/
    /*);*/

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#00ffffff',GradientType=0 );
    border-radius: 40px / 20px;
}
#ballShadow {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 10;
    margin-left: -30px;
    width: 60px;
    height: 75px;
    background: rgba(20, 20, 20, 0.1);
    -webkit-box-shadow: 0px 0 20px 35px rgba(20, 20, 20, 0.1);
    box-shadow: 0px 0 20px 35px rgba(20, 20, 20, 0.1);
    border-radius: 30px / 40px;
    -webkit-transform: scaleY(0.3);
    -ms-transform: scaleY(0.3);
    transform: scaleY(0.3);
    -webkit-animation: shrink 2s infinite;
    animation: shrink 2s infinite;
}

@-webkit-keyframes jump {
    0% {
        top: 0;
        -webkit-animation-timing-function: ease-in;
    }
    40% {
    }
    50% {
        top: 90px;
        height: 140px;
        -webkit-animation-timing-function: ease-out;
    }
    55% {
        top: 100px;
        height: 120px;
        border-radius: 70px / 60px;
        -webkit-animation-timing-function: ease-in;
    }
    65% {
        top: 60px;
        height: 140px;
        border-radius: 70px;
        -webkit-animation-timing-function: ease-out;
    }
    95% {
        top: 0;
        -webkit-animation-timing-function: ease-in;
    }
    100% {
        top: 0;
        -webkit-animation-timing-function: ease-in;
    }
}
@keyframes jump {
    0% {
        top: 0;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    50% {
        top: 90px;
        height: 140px;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    55% {
        top: 100px;
        height: 120px;
        border-radius: 70px / 60px;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    65% {
        top: 60px;
        height: 140px;
        border-radius: 70px;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        top: 0;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        top: 0;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}
@-webkit-keyframes shrink {
    0% {
        bottom: 0;
        margin-left: -30px;
        width: 60px;
        height: 75px;
        background: rgba(20, 20, 20, 0.1);
        -webkit-box-shadow: 0px 0 20px 35px rgba(20, 20, 20, 0.1);
        box-shadow: 0px 0 20px 35px rgba(20, 20, 20, 0.1);
        border-radius: 30px / 40px;
        -webkit-animation-timing-function: ease-in;
    }
    50% {
        bottom: 30px;
        margin-left: -10px;
        width: 20px;
        height: 5px;
        background: rgba(20, 20, 20, 0.3);
        -webkit-box-shadow: 0px 0 20px 35px rgba(20, 20, 20, 0.3);
        box-shadow: 0px 0 20px 35px rgba(20, 20, 20, 0.3);
        border-radius: 20px / 20px;
        -webkit-animation-timing-function: ease-out;
    }
    100% {
        bottom: 0;
        margin-left: -30px;
        width: 60px;
        height: 75px;
        background: rgba(20, 20, 20, 0.1);
        -webkit-box-shadow: 0px 0 20px 35px rgba(20, 20, 20, 0.1);
        box-shadow: 0px 0 20px 35px rgba(20, 20, 20, 0.1);
        border-radius: 30px / 40px;
        -webkit-animation-timing-function: ease-in;
    }
}
@keyframes shrink {
    0% {
        bottom: 0;
        margin-left: -30px;
        width: 60px;
        height: 75px;
        background: rgba(20, 20, 20, 0.1);
        -webkit-box-shadow: 0px 0 20px 35px rgba(20, 20, 20, 0.1);
        box-shadow: 0px 0 20px 35px rgba(20, 20, 20, 0.1);
        border-radius: 30px / 40px;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    50% {
        bottom: 30px;
        margin-left: -10px;
        width: 20px;
        height: 5px;
        background: rgba(20, 20, 20, 0.3);
        -webkit-box-shadow: 0px 0 20px 35px rgba(20, 20, 20, 0.3);
        box-shadow: 0px 0 20px 35px rgba(20, 20, 20, 0.3);
        border-radius: 20px / 20px;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        bottom: 0;
        margin-left: -30px;
        width: 60px;
        height: 75px;
        background: rgba(20, 20, 20, 0.1);
        -webkit-box-shadow: 0px 0 20px 35px rgba(20, 20, 20, 0.1);
        box-shadow: 0px 0 20px 35px rgba(20, 20, 20, 0.1);
        border-radius: 30px / 40px;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}
