@font-face {
    font-family: 'Newbaskerville';
    src: url('../fonts/BaskervilleBT.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/LibreBaskerville-Bold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Newbaskerville-Bold';
    src: url('../fonts/baskerville-cyrillic-bold.ttf');
    font-weight: bold;
    font-style: normal;
}
$purple: #4F0020;
$golden: #FFDB94;

.bg-purple {
    background-color: $purple;
}
.bg-golden {
    background-color: $golden;
}


#fp-nav ul li{
    margin: 13px 30px !important;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #ffffff !important;
    width: 4px;
    height: 4px;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
	width: 4px !important;
	height: 4px !important;
    margin: -2px 0 0 -2px !important;
}
.logo{
    opacity: 0;
}
.logo2{
    position: absolute;
    bottom: 40px;
    right: 60px;
    z-index: 1;
}
.kvartirs-click {
    border: 1.5px solid #FFDB94 !important;
    color: #FFDB94 !important;
    top: 0;
    left: 0;
    z-index: 111111!important;
    font-family: 'Newbaskerville';
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    padding: 1.5rem 3.6rem;
    &:hover{
        text-decoration: none;
    }
}

.myForm {
    background: rgba($color: #330017, $alpha: .7);
    border-radius: 5px;
    font-family: Baskerville;
    position: absolute;
    right: 145px;
    bottom: 110px;
    width: 0;
    height: 58px;
    z-index: 111;
    padding: 0;
    display: none;
    transition: 1s;
    label {
        color: #ffffff;
    }
    button {
        color: #ffffff !important;
        background: transparent;
        border-radius: 3px;
        border-color: #D6B173;
        margin-top: 7px;
        text-transform: uppercase;
    }
    input, input:focus {
        border-radius: 0;
        outline: none !important;
        border: 0;
        border-bottom: 2px solid white;
        background: transparent;
        color: white;
        font-size: 16px;
        width: 190px;
        // height: calc(1.5em + -0.25rem + 2px);
        &::placeholder{
            color: #ffffff;
        }
    }
    .close {
        width: 30px;
        height: 30px;
        background: #D6B173;
        opacity: 0 !important;
        top: 0;
        right: 0;
        border-radius: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translate(30px, -30px);
        cursor: pointer;
        img {
            filter: brightness(0) invert(100%);
            margin: auto;
        }
    }
}

.myForm-block{
    display: none;
}
#fullpage{
    section:nth-of-type(1){
        // background-image: url(../image/bg/1.png);
        // width: 100%;
        // height: 100vh;
        // background-size: cover;
        // background-repeat: round;
        // background-position: initial;
        overflow: hidden;
        #myVideo {
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
            background-position: center center;
            background-size: contain;
            object-fit: cover;
        }
        .video-back {
            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: rgba(20, 20, 20, 0.5)
        }
        .main{
            position: relative;
            z-index: 1;
            img{
                margin-bottom: 1.5rem;
            }
            h1{
                font-size: 60px;
                line-height: 70px;
                font-family: 'Newbaskerville';
                font-weight: 600;
                color: #fff;
                margin-bottom: 20px;
            }
            p{
                font-weight: 600;
                font-family: 'Newbaskerville';
                font-size: 17px;
                line-height: 25px;
                color: #FFFFFF;
                // border: 1px solid #FFFFFF;
                display: inline-block;
                // padding: .6rem 1.5rem;
            }
            a{
                background: transparent;
                border: 2px solid #FFDB94;
                width: 280px;
                height: 60px;
                border-radius: 0;
                padding: 12px;
                font-weight: bold;
                font-size: 17px;
                line-height: 18px;
                color: #ffffff;
                position: relative;
                margin: 30px auto;
                display: block;
                line-height: 30px;
                text-decoration: none;
                font-family: 'Newbaskerville';
                &:focus{
                    box-shadow: none;
                }
                &:before{
                    content: '';
                    width: 25px;
                    height: 2px;
                    background: #FFDB94;
                    position: absolute;
                    top: 27px;
                    left: -13px;
                }
                &:after{
                    content: '';
                    width: 25px;
                    height: 2px;
                    background: #FFDB94;
                    position: absolute;
                    top: 27px;
                    right: -13px;
                }
            }
        }
        .sdacha{
            position: absolute;
            left: 0;
            bottom: 2rem;
            font-family: 'Newbaskerville';
            font-weight: 600;
            text-align: left;
            h4{
                font-size: 22px;
                line-height: 23px;
                color: #D6B173;
                margin-bottom: 1rem;
            }
            h5{
                font-size: 26px;
                line-height: 30px;
                color: #fff;
                margin-bottom: 1rem;
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
            p{
                font-size: 17px;
                line-height: 18px;
                color: #fff;
                margin-bottom: 8px;
            }
        }
    }
    section:nth-of-type(2){
        background: linear-gradient(180deg, #330017 0%, rgba(51, 0, 23, 0.94) 72.4%, rgba(52, 2, 24, 0.89) 100%);
        position: relative;
        font-family: 'Newbaskerville';
        font-weight: 600;
        color: #fff;
        .bg{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: -1;
        }
        h1{
            font-size: 52px;
            line-height: 55px;
            margin-bottom: 40px;
            margin-top: 170px;
            transform: translateY(1.5em);
            opacity: 0;
            transition: 1s;
        }
        p{
            font-weight: normal;
            font-size: 22px;
            line-height: 22px;
            // text-transform: uppercase;
            transform: translateY(2.5em);
            opacity: 0;
            transition: 1s;
        }
        .presentation{
            font-weight: bold;
            font-size: 24px;
            line-height: 25px;
            color: #ffffff;
            text-decoration: none;
            position: absolute;
            left: 50%;
            bottom: 80px;
            transform: translate(-50%, 1.5em);
            opacity: 0;
            transition: 1s;
            &:after{
                content: '';
                position: absolute;
                left: 50%;
                bottom: -10px;
                transform: translateX(-50%);
                background: #fff;
                height: 1px;
                width: 160px;
            }
        }
    }
    section:nth-of-type(3){
        .section-three{
            font-family: 'Newbaskerville';
            font-weight: 600;
            position: relative;
            h1{
                font-size: 52px;
                line-height: 55px;
                color: #fff;
                text-align: center;
                margin-top: 40px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 1;
                transform: translateY(1.5em);
                opacity: 0;
                transition: 1s;
            }
            &__left{
                background-image: url(../image/bg/3/1.png);
                width: 100%;
                height: 100vh;
                background-size: cover;
                background-repeat: round;
                background-position: initial;
                position: relative;
                div{
                    position: absolute;
                    top: 55%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    a{
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 27px;
                        text-align: center;
                        color: #fff;
                        text-decoration: none;
                        transition: .3s;
                        &:hover{
                            color: #FFDB94;
                        }
                    }
                }
            }
            &__right{
                background-image: url(../image/bg/3/2.png);
                width: 100%;
                height: 100vh;
                background-size: cover;
                background-repeat: round;
                background-position: initial;
                div{
                    position: absolute;
                    top: 55%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    a{
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 27px;
                        text-align: center;
                        color: #fff;
                        text-decoration: none;
                        transition: .3s;
                        &:hover{
                            color: #FFDB94;
                        }
                    }
                }
            }
        }
    }
    section:nth-of-type(4){
        background: #330117;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: round;
        background-position: initial;
        .section-five{
            font-family: 'Newbaskerville';
            &__left{
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #fff;
                padding-left: 3rem;
                h1{
                    font-weight: bold;
                    font-size: 52px;
                    line-height: 55px;
                    margin-bottom: 30px;
                    transform: translateY(1.5em);
                    opacity: 0;
                    transition: 1s;
                }
                h6{
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 23px;
                    margin-bottom: 30px;
                    transform: translateY(1.5em);
                    opacity: 0;
                    transition: 1s;
                }
                p{
                    font-family: 'CustomFont';
                    font-weight: 600;
                    font-size: 17px;
                    line-height: 18px;
                    margin-bottom: 40px;
                    transform: translateY(1.5em);
                    opacity: 0;
                    transition: 1s;
                }
                .interview{
                    h6{
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 18px;
                        color: #FFDB94;
                        margin-bottom: 30px;
                        transform: translateY(1.5em);
                        opacity: 0;
                        transition: 1s;
                    }
                    p{
                        line-height: 18px;
                        margin-bottom: 32px;
                        position: relative;
                        transform: translateY(1.5em);
                        opacity: 0;
                        transition: 1s;
                        &:last-of-type{
                            margin-bottom: 0;
                        }
                        &:after{
                            content: '';
                            width: 470px;
                            height: 1px;
                            background: rgba(255, 255, 255, 0.5);
                            position: absolute;
                            bottom: -1rem;
                            left: 0;
                            &:last-of-type{
                                background: transparent;
                                content: unset;
                            }
                        }
                    }
                    a{
                        font-weight: 600;
                        font-size: 17px;
                        color: #FFFFFF;
                        text-decoration: none;
                        transition: .3s;
                        &:hover{
                            color: #FFDB94;
                        }
                    }
                }
            }
            &__right{
                position: relative;
                height: 100vh;
                img{
                    position: absolute;
                    top: 60%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0 ;
                    transition: 1s;
                    width: 485px;
                    height: 605px;
                    object-fit: cover;
                }
            }
        }
    }
    section:nth-of-type(5){

    }
    section:nth-of-type(6){

    }
    section:nth-of-type(7){

    }
    section:nth-of-type(8){

    }
    section:nth-of-type(9){
        background-image: url(../image/bg/6/6.png);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: round;
        background-position: initial;
        .section-six{
            &__left{
                >div{
                    width: 390px;
                    .one{
                        transform: translate3d(2rem,3rem,0);
                        opacity: 0 ;
                        transition: 1s;
                    }
                    .two{
                        transform: translate3d(-6rem,3rem,0);
                        opacity: 0 ;
                        transition: 1s;
                    }
                }
                padding-right: 35px;
            }
            &__right{
                color: #fff;
                height: 100vh;
                padding-left: 35px;
                h5{
                    font-family: 'Newbaskerville-Bold';
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 23px;
                    margin-bottom: 30px;
                    transform: translateY(1.5em);
                    opacity: 0 ;
                    transition: 1s;
                }
                p{
                    font-family: 'CustomFont';
                    font-weight: 600;
                    font-size: 17px;
                    line-height: 18px;
                    transform: translateY(2.5em);
                    opacity: 0 ;
                    transition: 1s;
                    margin-bottom: 0;
                }
            }
        }
    }
    section:nth-of-type(10){
        .section-seven{
            .nav{
                position: absolute;
                bottom: 1rem;
                z-index: 1;
                left: 50%;
                transform: translateX(-50%);
                .nav-link{
                    background: rgba(20, 20, 20, 0.3);
                    border: 2px solid #FFFFFF;
                    border-radius: 20px;
                    // padding: 8px 40px;
                    width: 180px;
                    height: 50px;
                    color: #fff;
                    margin-right: 20px;
                    font-family: 'Newbaskerville';
                    font-weight: 600;
                    font-size: 17px;
                    line-height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    &:hover{
                        background: #D6B173;
                        border-color: #D6B173;
                    }
                }
            }
            .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
                background: #D6B173;
                border-color: #D6B173;
            }
            h1{
                font-family: 'Newbaskerville';
                font-weight: 600;
                font-size: 52px;
                line-height: 55px;
                position: absolute;
                left: 50%;
                transform: translate(-50%, 2rem);
                top: 40px;
                z-index: 1;
                opacity: 0 ;
                transition: 1s;
                text-shadow: 1px 1px #000000;
            }
        }
    }
    section:nth-of-type(11){
        background: rgba(214, 177, 115, 0.8);
        color: #ffffff;
        overflow: hidden;
        h1{
            margin-top: 145px;
            font-family: 'Newbaskerville';
            font-weight: 600;
            font-size: 52px;
            line-height: 55px;
            margin-bottom: 30px;
            transform: translateY(1.5em);
            opacity: 0 ;
            transition: 1s;
        }
        h6{
            font-family: 'Newbaskerville-Bold';
            font-weight: bold;
            font-size: 22px;
            line-height: 23px;
            margin-bottom: 30px;
            transform: translateY(1.5em);
            opacity: 0 ;
            transition: 1s;
        }
        p{
            font-family: 'CustomFont';
            font-weight: 600;
            font-size: 17px;
            line-height: 18px;
            transform: translateY(1.5em);
            opacity: 0 ;
            transition: 1s;
        }
        .one{
            position: absolute;
            width: 100%;
            bottom: 0;
            z-index: 2;
            >img{
                width: 100%;
            }
        }
        .pik{
            position: absolute;
            top: 40%;
            left: 61.5%;
            width: 190px;
            text-align: center;
            transform: translate3d(-50%, -50%, 0);
            opacity: 0 ;
            transition: 1s;
            p{
                font-size: 22px;
                line-height: 25px;
                margin-bottom: 5px !important;
                transform: translateY(1.5em);
                opacity: 0 ;
                transition: 1s;
            }
        }
        .container{
            height: 100vh;
        }
    }
    section:nth-of-type(12){
        background-image: url(../image/bg/10/10.png);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: round;
        background-position: initial;
        .section-ten{
            color: #ffffff;
            &__left{
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                h1{
                    font-family: 'Newbaskerville';
                    font-weight: 600;
                    font-size: 52px;
                    line-height: 55px;
                    margin-bottom: 15px;
                    transform: translateY(1.5em);
                    opacity: 0 ;
                    transition: 1s;
                }
                h6{
                    font-family: 'Newbaskerville-Bold';
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 23px;
                    margin-bottom: 30px;
                    transform: translateY(1.5em);
                    opacity: 0 ;
                    transition: 1s;
                }
                p{
                    font-family: 'CustomFont';
                    font-weight: 600;
                    font-size: 17px;
                    line-height: 20px;
                    transform: translateY(1.5em);
                    opacity: 0 ;
                    transition: 1s;
                }
            }
            &__right{
                img.bgImg{
                    position: absolute;
                    top: calc(50% - 350px);
                    right: 0;
                    transform: translateY(-45%);
                    //opacity: 0 ;
                    //transition: 1s;
                }
                img.frImg{
                    position: absolute;
                    top: calc(50% - 260px);
                    right: 0;
                    transform: translateY(-45%);
                    //opacity: 0 ;
                    //transition: 1s;
                }
            }
        }
    }
    section:nth-of-type(13){
        background-color: $purple;
        .col-lg-6 {
            position: relative;
            z-index: 11;
        }
        .section-eleven{
            &__left{
                position: relative;
                img:nth-of-type(1){
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    opacity: 0 ;
                    transition: 1s;
                }
                img:nth-of-type(2){
                    position: absolute;
                    left: 12rem;
                    bottom: 0;
                    opacity: 0 ;
                    transition: 1s;
                }
                .percent{
                    position: absolute;
                    left: 8rem;
                    top: 68%;
                    transform: translateY(-50%);
                    color: #ffffff;
                    opacity: 0 ;
                    transition: 1s;
                    h1{
                        font-family: 'Newbaskerville';
                        font-weight: 600;
                        font-size: 60px;
                        line-height: 69px;
                    }
                    p{
                        font-family: 'Newbaskerville';
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 23px;
                    }
                }
                .izmiritel{
                    position: absolute;
                    top: auto !important;
                    bottom: 0 !important;
                    left: 20rem;
                    //transform: translateY(-50%);
                }
            }
            &__right{
                color: #ffffff;
                height: 100vh;
                display: flex;
                align-items: center;
                h1{
                    font-family: 'Newbaskerville';
                    font-weight: 600;
                    font-size: 52px;
                    line-height: 55px;
                    margin-bottom: 30px;
                    transform: translateY(1.5em);
                    opacity: 0 ;
                    transition: 1s;
                }
                p{
                    font-family: 'CustomFont';
                    font-weight: 600;
                    font-size: 17px;
                    line-height: 18px;
                    transform: translateY(1.5em);
                    opacity: 0 ;
                    transition: 1s;
                }
            }
        }
    }
    section:nth-of-type(14){
        background: #262626;
        color: #fff;
        font-family: 'Newbaskerville';
        h1{
            font-weight: 600;
            font-size: 52px;
            line-height: 55px;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 50px;
            transform: translateY(1.5em);
            opacity: 0 ;
            transition: 1s;
        }
        .container3{
            max-width: 1050px;
        }
        .nav-pills .nav-link{
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 21px;
            color: #FFFFFF;
            margin-right: 60px;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                top: 18px;
                right: -32px;
                width: 6px;
                height: 2px;
                background: #D6B173;
            }
        }
        .last{
            &:after{
                content: none !important;
            }
        }
        .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
            color: #FFDB94;
            background-color: transparent;
        }
        .contact-block{
            background: rgba(18, 18, 18, 0.31);
            padding: 40px 60px;
            margin-top: 40px;
            max-height: 550px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            h3{
                font-style: normal;
                font-weight: 600;
                font-size: 26px;
                line-height: 30px;
                color: #FFFFFF;
                margin-bottom: 30px;
            }
            h6{
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 21px;
                color: #D6B173;
                margin-bottom: 20px;
            }
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 21px;
                color: #FFFFFF;
                margin-bottom: 12px;
            }
            a{
                font-style: normal;
                font-weight: 600;
                font-size: 26px;
                line-height: 30px;
                color: #FFFFFF;
                margin-bottom: 13px;
                display: block;
            }
            h5{
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 30px;
                color: #FFFFFF;
            }
            button{
                background: #D6B173;
                border-radius: 5px;
                padding: 10px 70px 10px 20px;
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 21px;
                color: #FFFFFF;
                margin-top: 50px;
                margin-bottom: 30px;
            }
            &__left{
                border-right: 1px solid rgba(255, 219, 148, 0.2);
            }
            &__right{
                padding-left: 40px;
            }
        }
    }
}
.fp-section{
    &:nth-of-type(2){
        &.active{
            h1{
                transform: translateY(0px) !important;
                opacity: 1 !important;
                transition: 0.8s 0.9s !important;
            }
            p{
                transform: translateY(0px) !important;
                opacity: 1!important;
                transition: 0.8s 1s !important;
            }
            a{
                transform: translate(-50%, 0) !important;
                opacity: 1 !important;
                transition: 0.8s 1.1s !important;
            }
        }
    }
    &:nth-of-type(3){
        &.active{
            .section-three{
                h1{
                    transform: translateY(0px) !important;
                    opacity: 1 !important;
                    transition: 0.8s 0.9s !important;
                }
                &__left{
                    div{
                        top: 50% !important;
                        opacity: 1 !important;
                        transition: 0.8s 1.2s !important;
                    }
                }
                &__right{
                    div{
                        top: 50% !important;
                        opacity: 1 !important;
                        transition: 0.8s 1.2s !important;
                    }
                }
            }
        }
    }
    &:nth-of-type(4){
        &.active{
            .section-five{
                &__left{
                    h1{
                        transform: translateY(0px) !important;
                        opacity: 1 !important;
                        transition: 0.8s 0.8s !important;
                    }
                    h6{
                        transform: translateY(0px) !important;
                        opacity: 1 !important;
                        transition: 0.8s 0.9s !important;
                    }
                    p{
                        transform: translateY(0px) !important;
                        opacity: 1 !important;
                        transition: 0.8s 1s !important;
                    }
                    .interview{
                        h6{
                            transform: translateY(0px) !important;
                            opacity: 1 !important;
                            transition: 0.8s 1.1s !important;
                        }
                        p{
                            transform: translateY(0px) !important;
                            opacity: 1 !important;
                            transition: 0.8s 1.2s !important;
                        }
                    }
                }
                &__right{
                    img{
                        top: 50% !important;
                        opacity: 1 !important;
                        transition: 0.8s 1.3s !important;
                    }
                }
            }
        }
    }
    &:nth-of-type(5){
        &.active{
        }
    }
    &:nth-of-type(6){
        &.active{
        }
    }
    &:nth-of-type(7){
        &.active{
        }
    }
    &:nth-of-type(8){
        &.active{
        }
    }
    &:nth-of-type(9){
        &.active{
            .section-six{
                &__left{
                    >div{
                        .one{
                            transform: translate3d(2rem,-1rem,0) !important;
                            opacity: 1 !important;
                            transition: .8s 1s !important;
                        }
                        .two{
                            transform: translate3d(-6rem,1rem,0) !important;
                            opacity: 1 !important;
                            transition: .8s 1.2s !important;
                        }
                    }
                }
                &__right{
                    h5{
                        transform: translateY(0px) !important;
                        opacity: 1 !important;
                        transition: .8s 1.4s !important;
                    }
                    p{
                        transform: translateY(0px) !important;
                        opacity: 1 !important;
                        transition: .8s 1.6s !important;
                    }
                }
            }
        }
    }
    &:nth-of-type(10){
        &.active{
            .section-seven{
                h1{
                    transform: translate(-50%, 0) !important;
                    opacity: 1 !important;
                    transition: .8s 1s !important;
                }
            }
        }
    }
    &:nth-of-type(11){
        &.active{
            h1{
                transform: translateY(0px) !important;
                opacity: 1 !important;
                transition: .8s .8s !important;
            }
            h6{
                transform: translateY(0px) !important;
                opacity: 1 !important;
                transition: .8s 1s !important;
            }
            p{
                transform: translateY(0px) !important;
                opacity: 1 !important;
                transition: .8s 1.2s !important;
            }
            .pik{
                transform: translate3d(-50%, -50%, 0) !important;
                opacity: 1 !important;
                transition: .8s 1.4s !important;
                top: 32% !important;
                p{
                    transform: translateY(0px) !important;
                    opacity: 1 !important;
                    transition: .8s 1.6s !important;
                }
            }
        }
    }
    &:nth-of-type(12){
        &.active{
            .section-ten{
                &__left{
                    h1{
                        transform: translateY(0px) !important;
                        opacity: 1 !important;
                        transition: .8s .8s !important;
                    }
                    h6{
                        transform: translateY(0px) !important;
                        opacity: 1 !important;
                        transition: .8s 1s !important;
                    }
                    p{
                        transform: translateY(0px) !important;
                        opacity: 1 !important;
                        transition: .8s 1.2s !important;
                    }
                }
                &__right{
                    img{
                        //transform: translateY(-50%) !important;
                        //opacity: 1 !important;
                        //transition: .8s 1.4s !important;
                    }
                }
            }
        }
    }
    &:nth-of-type(13){
        &.active{
            .section-eleven{
                &__left{
                    img:nth-of-type(1){
                        opacity: 1 !important;
                        transition: .8s .8s !important;
                    }
                    img:nth-of-type(2){
                        //top: 42% !important;
                        transform: translate(-25%, -43%);
                        opacity: 1 !important;
                        transition: .8s 1s !important;
                    }
                    .percent{
                        opacity: 1 !important;
                        transition: .8s 1.2s !important;
                        top: 63% !important;
                    }
                    .izmiritel{
                        top: 79% !important;
                        opacity: 1 !important;
                        transition: .8s 1.4s !important;
                    }
                }
                &__right{
                    h1{
                        transform: translateY(0px) !important;
                        opacity: 1 !important;
                        transition: .8s 1.6s !important;
                    }
                    p{
                        transform: translateY(0px) !important;
                        opacity: 1 !important;
                        transition: .8s 1.8s !important;
                    }
                }
            }
        }
    }
    &:nth-of-type(14){
        &.active{
            h1{
                transform: translateY(0px) !important;
                opacity: 1 !important;
                transition: .8s .8s !important;
            }
            p{
                transform: translateY(0px) !important;
                opacity: 1 !important;
                transition: .8s 1s !important;
            }
            .term{
                transform: translateY(0px) !important;
                opacity: 1 !important;
                transition: .8s 1.2s !important;
            }
        }
    }
    &:nth-of-type(11){
        &.active{
            .contact{
                transform: translateY(0px) !important;
                opacity: 1 !important;
                transition: .8s .8s !important;
            }
        }
    }
}
.content__active{
    color: #FFDB94 !important;
}
.fp-tableCell{
    display: initial !important;
}
.header{
    //padding-top: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    &__toggle-menu {
        width: 70px;
        height: 40px;
        display: none;
        position: relative;
        margin-top: -14px;
        transition: all 2s linear;
        transition: transform .3s linear;
        &:hover{
            i:nth-child(1) {
                transform: translateY(-3px);
            }
            i:nth-child(2) {
                transform: translateY(3px);
            }
        }
        i{
            position: absolute;
            display: block;
            height: 2px;
            background: white;
            width: 50px;
            left: 10px;
            -webkit-transition: all .3s;
                    transition: all .3s;
            &:nth-child(1){
                top: 14px;
            }
            &:nth-child(2){
                top: 26px;
            }
        }
    }
    &__menu{
        display: flex;
        transition: all 2s linear;
        @media only screen and (max-width: 1367px) {
            margin-left: 7rem;
        }
        @media only screen and (max-width: 1280px) {
            margin-left: 7rem;
        }
        a{
            color: #fff;
            font-family: 'Newbaskerville';
            font-size: 19px;
            line-height: 18px;
            margin-right: 36px;
            position: relative;
            @media only screen and (max-width: 1280px) {
                margin-right: 16px;
            }
            &:last-of-type{
                margin-bottom: 0;
            }
            &:hover{
                text-decoration: none;
                &:after{
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }
            }
            &:after{
                display: block;
                content: '';
                border-bottom: 2px solid #D6B173;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: -webkit-transform 250ms ease-in-out;
                transition: -webkit-transform 250ms ease-in-out;
                transition: transform 250ms ease-in-out;
                transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
            }
            &.link{
                &:after{
                    -webkit-transform-origin: 0% 50%;
                    transform-origin: 0% 50%;
                }
            }
        }
    }
    &__phone{
        //font-size: 17px;
        font-size: 32px;
        line-height: 18px;
        color: #FFFFFF;
        font-family: 'Newbaskerville';
        transition: all 2s linear;
        &:hover{
            color: #ffffff;
        }
    }
}
.social{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 60px;
    right: 0;
    transform: translateY(-50%);
    display: none;
    width: 26px;
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        width: 26px;
        height: 26px;
        border-radius: 50px;
        margin-bottom: 10px;
        border: 1px solid #fff;
        &:last-of-type{
            margin-bottom: 0;
        }
        &:hover{
            border-color:#D6B173;
        }
    }
}
.phone-fixed{
    width: 60px;
    height: 60px;
    position: absolute;
    right: 60px;
    bottom: 110px;
    z-index: 1;
    background: #D6B173;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    animation: anim 8s infinite ease-in-out;
}
@keyframes anim {
	0% {transform: rotate(0deg);}
	1% {transform: rotate(20deg);}
	2% {transform: rotate(-18deg);}
	3% {transform: rotate(16deg);}
	4% {transform: rotate(-14deg);}
	5% {transform: rotate(12deg);}
	6% {transform: rotate(-10deg);}
	7% {transform: rotate(5deg);}
	8% {transform: rotate(-2deg);}
	9% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}
.container2{
    width: 100%;
    padding-right: 5%;
    margin: 0 auto;
    position: relative;
}
.call-back{
    background: transparent;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: round;
    background-position: center;
    > div{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .call-block{
        width: 800px;
        height: 460px;
        background: transparent;
        font-family: 'Newbaskerville';
        border: 1px solid #D6B173;
        &__form{
            padding: 69px 112px;
            color: #fff;
            text-align: center;
            h2{
                font-weight: bold;
                font-size: 52px;
                line-height: 55px;
                letter-spacing: 0.1em;
                margin-bottom: 80px;
            }
            input{
                background: transparent;
                border-color: transparent;
                border-bottom: 1px solid #fff;
                border-radius: 0;
                color: #ffffff;
                padding-left: 0;
                width: 275px;
                &:focus{
                    box-shadow: none;
                }
            }
            .form-group{
                margin-bottom: 80px;
                text-align: left;
                label{
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 18px;
                    margin-bottom: 0;
                }
            }
            button{
                background: transparent;
                border: 2px solid #FFDB94;
                width: 260px;
                height: 60px;
                border-radius: 0;
                padding: 12px;
                font-weight: bold;
                font-size: 17px;
                line-height: 18px;
                color: #ffffff;
                position: relative;
                &:focus{
                    box-shadow: none;
                }
                &:before{
                    content: '';
                    width: 25px;
                    height: 2px;
                    background: #FFDB94;
                    position: absolute;
                    top: 28px;
                    left: -13px;
                }
                &:after{
                    content: '';
                    width: 25px;
                    height: 2px;
                    background: #FFDB94;
                    position: absolute;
                    top: 28px;
                    right: -13px;
                }
            }
        }
    }
}
.modal-window {
    position: fixed;
    background-color: $purple;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    font-family: 'Newbaskerville';
    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    h1{
        font-size: 52px;
        line-height: 55px;
        margin-top: 40px;
        margin-bottom: 35px;
    }
}
.modal-close {
    position: absolute;
    right: 60px;
    top: 40px;
    z-index: 1;
    padding: 0 !important;
}
.modal-logo{
    position: absolute;
    right: 60px;
    bottom: 40px;
    z-index: 2;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    //h1{
    //    font-weight: 600;
    //    font-size: 52px;
    //    line-height: 55px;
    //    color: #FFFFFF;
    //    margin-top: 40px;
    //    position: relative;
    //    z-index: 1;
    //}
    //p{
    //    width: 1025px;
    //    text-align: left;
    //    color: #fff;
    //    font-weight: 600;
    //    font-size: 22px;
    //    line-height: 21px;
    //    position: absolute;
    //    bottom: 2rem;
    //    z-index: 1;
    //    left: 50%;
    //    transform: translate3d(-50%,3rem,0);
    //    opacity: 0;
    //}
}
.swiper-slide.swiper-slide-active{
    .black-note{
        transform: translate3d(-50%,0,0);
        opacity: 1;
        transition: all 1s .5s;
    }
}
.techone{
    background-image: url(../image/technology/filter.png);
}
.techtwo-one{
    background-image: url(../image/technology/electro.png);
}
.techtwo-two{
    background-image: url(../image/technology/ip.png);
}
// .techthree{
//     background-image: url(../image/technology/light.png);
// }
.techfour{
    background-image: url(../image/technology/smartHouse.png);
}
.comone{
    background-image: url(../image/comfort/terassa.png);
}
.comtwo-one{
    background-image: url(../image/comfort/penhouse.png);
}
// .comtwo-two{
//     background-image: url(../image/comfort/entrance.png);
// }
.comthree-one{
    background-image: url(../image/comfort/paronama-roof.png);
}
// .comthree-two{
//     background-image: url(../image/comfort/fountain.png);
// }
// .comthree-three{
//     background-image: url(../image/comfort/territory.png);
// }
.background{
    // background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0.2) 79.15%, rgba(17, 17, 17, 0.7) 100%);
    background: rgba(0,0,0,.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.dvor,.hol,.fontan,.estest{
    background-image: url(../image/comfort/territory.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    text-align: center;
    font-family: 'CustomFont';
    .backk{
        background: rgba(0,0,0,.2);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    h1{
        font-weight: 600;
        font-size: 52px;
        line-height: 55px;
        color: #FFFFFF;
        margin-top: 40px;
        position: relative;
        z-index: 1;
    }
    .black-note {
        width: 442px;
        background: rgba(26, 26, 26, 0.7);
        border-radius: 5px;
        padding: 22px 18px;
        position: absolute;
        color: white;
        text-align: left;
        p {
            font-family: Baskerville;
            font-size: 18px;
            line-height: 21px;
            margin-top: 16px;
        }
        h3 {
            font-family: Baskerville;
            font-weight: 600;
            font-size: 30px;
            line-height: 34px;
        }
    }
    .black-note--dvor {
        right: 131px;
        top: 140px;
    }
    .black-note--vhod {
        right: 120px;
        top: 236px;
    }
    .black-note--fontan {
        right: 122px;
        top: 155px;
    }
    .black-note--svet {
        left: 68px;
        bottom: 118px;
    }
}
.hol{
    background-image: url(../image/bg/vhod-bg.png) !important;
    background-size: 100% 100%!important;
}
.fontan{
    background-image: url(../image/bg/fontan-bg.png) !important;
    background-size: 100% 100% !important;
}
.estest{
    background-image: url(../image/bg/svet-bg.png) !important;
    background-size: 100% 100% !important;
}
.swiper-button-next,.swiper-button-prev{
    width: initial !important;
    height: initial !important;
    border: none !important;
    background: transparent !important;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 35px !important;
    left: auto;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 35px !important;
    right: auto;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    overflow-y: hidden;
    transition: 0.5s;
    background-position: center;
    background-size: cover;
    .modal-close2{
        top: 35px;
    }
}
.overlay-content {
    background: rgb(214, 177, 115);
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    .menu-logo {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 111;
    }
    .list-menu {
        background-image: url("../image/bg/bgMenu.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        a{
            background-color: rgb(214, 177, 115);
            width: 100%;
            padding: 40px 0;
            position: relative;
            text-decoration: none;
            transition: .4s;
            &:hover {
                background-color: rgba(0,0,0,.3);
                p {
                    color: rgb(214, 177, 115);
                }
            }
            p{
                color: #ffffff;
                font-weight: 600;
                font-size: 17px;
                font-family: 'Newbaskerville';
                position: relative;
                z-index: 1;
                transition: 1s ease;
            }
            div{
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: opacity 1s ease;
            }
        }
    }
}
.interview-block{
    background: #3D3F3C !important;
    font-family: 'Newbaskerville';
    overflow-y: scroll;
    h1{
        font-weight: 600;
        font-size: 52px;
        line-height: 55px;
        margin-top: 40px;
        margin-bottom: 25px;
    }
    h6{
        font-weight: 600;
        font-size: 23px;
        line-height: 25px;
        color: #FFDB94;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    p{
        font-weight: 600;
        font-size: 17px;
        line-height: 18px;
        color: #fff;
    }
}
.architecture{
    overflow: hidden;
    .architecture-block{
        font-family: 'Newbaskerville';
        position: relative;
        h1{
            font-weight: 600;
            font-size: 52px;
            line-height: 55px;
            text-align: center;
            color: #FFFFFF;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }
        &__item{
            cursor: pointer;
            transition: .4s;
            text-decoration: none;
            // transform: scale(1);
            &:hover{
                // transform: scale(1.05);
                p{
                    color: #FFDB94;
                    width: 270px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #FFDB94;
                }
                .background{
                    opacity: 1;
                    transition: .4s;
                }
            }
            p{
                font-weight: 600;
                font-size: 24px;
                line-height: 27px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                text-decoration: none;
                transition: .5s;
                z-index: 1;
            }
            .background{
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background: rgba(0,0,0,.5);
                opacity: 0;
            }
            &:nth-of-type(1){
                background-image: url(../image/architecture/1.png);
                width: 100%;
                height: 100vh;
                background-size: cover;
                background-repeat: round;
                background-position: initial;
            }
            &:nth-of-type(2){
                background-image: url(../image/architecture/2.png);
                width: 100%;
                height: 100vh;
                background-size: cover;
                background-repeat: round;
                background-position: initial;
            }
            &:nth-of-type(3){
                background-image: url(../image/architecture/3.png);
                width: 100%;
                height: 100vh;
                background-size: cover;
                background-repeat: round;
                background-position: initial;
            }
        }
    }
}
.back{
    width: 180px;
    height: 50px;
    background: rgba(20, 20, 20, 0.3);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: 600;
    font-size: 22px;
    line-height: 45px;
    color: #fff !important;
    position: absolute;
    left: 60px;
    bottom: 40px;
    text-align: center;
    text-decoration: none !important;
}
.modalThreeLayout{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #fff;
    // transition: all 0.35s ease-out;
    opacity: 0;
    z-index: 0;
    font-family: 'CustomFont';
}
.closeModal{
    position: absolute;
    top: 28px;
    right: 48px;
    cursor: pointer;
    z-index: 2;
}
.subtitle-active{
    opacity: 1 !important;
}
.active-color{
    color: #FFDB94 !important;
}
.technology, .comfort{
    background-image: url(../image/technology/1.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Newbaskerville';
    // position: relative;
    .background{
        background: rgba(20, 20, 20, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    h1{
        font-weight: 600;
        font-size: 52px;
        line-height: 55px;
        text-align: center;
        color: #FFFFFF;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    h2{
        font-weight: 600;
        font-size: 52px;
        line-height: 55px;
        opacity: 0;
        position: absolute;
        bottom: 110px;
        left: 0;
        right: 0;
        transition: .5s;
    }
    &__item{
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            font-weight: 600;
            font-size: 22px;
            line-height: 21px;
            color: #fff;
            text-decoration: none;
            transition: .3s;
            &:hover{
                color: #FFDB94;
            }
        }
    }
}
.comfort{
    background-image: url(../image/comfort/1.jpg);
}
.item{
    display: none;
}
.item2{
    display: none;
}
.item3{
    display: none;
}
.item4{
    display: none;
}
.answer{
    position: relative;
    .next{
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 27px;
        color: #FFDB94;
        font-family: 'Newbaskerville';
        text-decoration: none;
        display: block;
        text-align: right;
    }
    h5{
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 18px;
        color: #FFDB94;
        margin-bottom: 20px !important;
    }
    h6{
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 18px;
        color: #FFFFFF;
        margin-bottom: 1rem !important;
    }
    p{
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 18px;
        color: white !important;
        margin-bottom: 1rem !important;
    }
    .close-interview{
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
}
.answer-one,.answer-two,.answer-three,.answer-four,.answer-five{
    display: none;
}
.modal-dialog{
    margin: 0;
    max-width: 100%;
}
.modal-content{
    height: 100vh;
    position: relative;
    font-family: 'Newbaskerville';
    border: 0;
}
.modal-backdrop{
    background: transparent;
}
.modal-body{
    padding: 0;
}
.myForm-logo{
    display: none;
    cursor: pointer;
    background: #D6B173;
    border-radius: 5px;
    font-family: Baskerville;
    position: absolute;
    right: 60px;
    bottom: 110px;
    width: 60px;
    height: 60px;
    z-index: 111;
    padding: 15px;
}
@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
}


.arg-cont {
    .slim-container-bottom a {
        color: #444;
        text-decoration: none;
    }
    .scene-position {
        position: absolute;
        bottom: 0;
        top: 10%;
        height: 100%;
        left: 0;
        //background: rgba(0,0,0,.5);
        //min-height: 100vh;
        width: 100%;
        //z-index: -1;
    }

    #scene {
        margin: 0;
        padding: 0;
        list-style-type: none;
        height: 100%;
        overflow: hidden;
    }
    .layer {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .bg-img-3 {
        margin-top: 150px;
        width: calc(100%);
        right: -300px;
        bottom: 300px;
        position: absolute;

        -webkit-animation: animateEffect 15s infinite;
        animation: animateEffect 15s infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
    }
    .is-leaving {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    .pan-out {
        -webkit-transform: scale(1) translateY(30px) translateX(-10px);
        transform: scale(1) translateY(30px) translateX(-10px);
    }
    @-webkit-keyframes animateEffect {
        0% {
            -webkit-transform: translateX(20%);
            transform: translateX(20%);
        }
        100% {
            -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
        }
    }
    @keyframes animateEffect {
        0% {
            -webkit-transform: translateX(20%);
            transform: translateX(20%);
        }
        100% {
            -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
        }
    }
}

#argo {
    canvas {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    transform: scale(2);
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    width: 8px !important;
    height: 8px !important;
}

.bg-on-hover {
    position: relative;
    > div {
        z-index: 111;
    }
    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        content: '';
        transition: .3s;

    }
}
.bg-on-hover:hover {
    &::after {
        background-color: rgba(0,0,0,.5);
    }
}

#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span,
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    margin: 0 !important;
}
#fp-nav ul li a.active {
    transform: translateX(1.5px);
}


//MAHA

#fp-nav ul li a.active {
    border: 1px solid white;
    padding: 8px;
    border-radius: 10px;
}

#fp-nav ul li .fp-tooltip.right {
    background: rgba(38, 38, 38, 0.5);
    border-radius: 3px;
    padding: 2px 8px;
    font-family: Baskerville;
    font-weight: 600;
    font-size: 12px;
}

#fullpage section:nth-of-type(15) .contact-block a span {
    font-size: 18px;
}
#fullpage section:nth-of-type(15) .contact-block a:hover {
    text-decoration: none;
}

@media screen and (min-width: 1280px) {
    #fullpage section:nth-of-type(15) .contact-block {
        max-height: unset;
    }
}

.fp-section.fp-table, .fp-slide.fp-table {
    background: rgba(51, 0, 23, 0.8);
}

.section-seven {
    h2 {
        font-family: Baskerville;
        font-weight: 600;
        font-size: 48px;
        line-height: 55px;
        color: #FFFFFF;
    }
    .circle {
        border: 1px solid white;
        border-radius: 100%;
        height: 20px;
        width: 20px;
        text-align: center;
        line-height: 19px;
        p {
            margin-top: -0.15em;
            font-size: 14px;
            font-family: Baskerville;
            font-weight: 600;
            line-height: 21px;
            color: #FFFFFF;
        }
    }
    span {
        font-family: Baskerville;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #FFDB94;
        margin-left: 8px;
    }
    .location {
        margin: 8px 0;
    }
}

.section-five {
    .btn-objects {
        border: 1.5px solid #FFDB94;
        color: white;
        z-index: 111111;
        font-family: 'Newbaskerville';
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        padding: 17px 20px 22px 20px;
        max-width: 352px;
        margin-top: 31px;
        &:hover{
            text-decoration: none;
            color: #FFDB94;
        }
    }
}

.dvor {
    background-image: url("../image/bg/dvor-bg.png")!important;
    background-size: 100% 100%!important;
    background-position: center;
    background-repeat: no-repeat;
}

.section-seven {
    background: #4F0020!important;
}

.section-three {
    .section-three--btn {
        background: rgba(21, 21, 21, 0.3);
        border-radius: 5px;
        padding: 16px 10px;
        display: flex;
        font-family: Baskerville;
        font-size: 24px;
        line-height: 27px;
        text-align: center;
    }
    .bg-on-hover:hover{
        .section-three--btn{
            background: transparent;
            border: 2px solid #D6B173;
            box-sizing: border-box;
            color: #D6B173!important;
        }
    }
}

.black-note {
    width: 442px;
    background: rgba(26, 26, 26, 0.7);
    border-radius: 5px;
    padding: 22px 18px;
    position: absolute;
    color: white;
    text-align: left;
    p {
        font-family: Baskerville;
        font-size: 18px;
        line-height: 21px;
        margin-top: 16px;
    }
    h3 {
        font-family: Baskerville;
        font-weight: 600;
        font-size: 30px;
        line-height: 34px;
    }
}
.black-smart {
    right: 0;
    top: 169px;
}
.black-elektro {
    right: 0;
    top: 263px;
}
.black-ip {
    top: 255px;
    right: 40%;
}
.black-system {
    top: 90px;
    right: 50%;
}
.black-terassa {
    bottom: 70px;
    right: 50%;
}
.black-panorama {
    top: 120px;
    right: 45%;
}
.black-penthaus {
    top: 209px;
    right: 45%;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .header__menu a {
        font-size: 16px;
    }
    #fullpage section:nth-of-type(2) {
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 16px;
        }
    }
    #fullpage section:nth-of-type(3) .section-three__right div a {
        font-size: 18px;
    }
    #fullpage section:nth-of-type(3) .section-three__left div a {
        font-size: 18px;
    }
    #fullpage section:nth-of-type(4) .section-five__left p {
        font-size: 12px;
        margin-bottom: 2px !important;
        &::after {
            display: none !important;
        }
    }
    #fullpage section:nth-of-type(4) {
        h5,h6 {
            font-size: 18px !important;
            margin-bottom: 8px !important;
        }
        .btn-objects {
            padding: 10px !important;
            font-size: 13px !important;
        }
    }
    #fullpage section:nth-of-type(4) .section-five__left .interview a {
        font-size: 13px;
    }
    #fullpage section:nth-of-type(4) .section-five__left h1 {
        font-size: 44px;
    }
    .next {
        font-size: 16px !important;
    }
    .section-seven {
        span {
            font-size: 13px;
        }
    }
    .section-five .btn-objects {
        font-size: 16px;
        padding: 13px 17px 19px 17px;
    }
    .dvor .black-note p, .hol .black-note p, .fontan .black-note p, .estest .black-note p {
        font-size: 16px;
    }
    .dvor .black-note h3, .hol .black-note h3, .fontan .black-note h3, .estest .black-note h3 {
        font-size: 26px;
    }
    #fullpage section:nth-of-type(9) .section-six__right p {
        font-size: 13px;
    }
    #fullpage section:nth-of-type(9) .section-six__right {

    }
    #fullpage section:nth-of-type(9)  {
        .one {
            width: 270px;
        }
        .two {
            width: 240px;
        }
    }
    #fullpage section:nth-of-type(4) .section-five__left {
        padding-left: 15px !important;
    }
    #fullpage section:nth-of-type(12) .section-ten__left h1 {
        font-size: 40px;
        padding-left: 30px;
    }
    #fullpage section:nth-of-type(12) .section-ten__left h6 {
        font-size: 18px;
        padding-left: 30px;
    }
    #fullpage section:nth-of-type(12) .section-ten__left p {
        font-size: 14px;
        padding-left: 30px;
    }
    #fullpage section:nth-of-type(13) .section-eleven__right h1 {
        font-size: 44px;
    }
    #fullpage section:nth-of-type(13) .section-eleven__right p {
        font-size: 14px;
    }
    #fullpage section:nth-of-type(14) h1 {
        font-size: 44px;
    }
    #fullpage section:nth-of-type(14) .nav-pills .nav-link {
        font-size: 18px;
    }
    #fullpage section:nth-of-type(14) .contact-block h3 {
        font-size: 22px;
    }
    #fullpage section:nth-of-type(14) .contact-block h6 {
        font-size: 18px;
    }
    #fullpage section:nth-of-type(14) .contact-block p {
        font-size: 18px;
    }
    #fullpage section:nth-of-type(14) .contact-block a {
        font-size: 22px;
    }
    #fullpage section:nth-of-type(14) .contact-block a span {
        font-size: 14px;
    }
    #fullpage section:nth-of-type(14) .contact-block button {
        font-size: 18px;
    }
}

@media (min-width: 1400px) {
    .contact-block {
        max-height: 1000% !important;
        height: auto !important;
    }
}
